<body>

  <div class="send-message">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Editar Produto</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="contact-form">
            <form [formGroup]="updateForm" (ngSubmit)="onUpdate()" ngNativeValidate>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset class="campos-juntos-label">
                    <label>Nome:</label>
                    <input formControlName="nome" type="text" class="form-control" placeholder="Nome do Produto"
                      required>
                  </fieldset>
                </div>
                <input class="form-control" formControlName="imagem" type="hidden" class="form-control"
                  placeholder="Nome do Produto" required="">
                <div class="col-lg-12 col-md-12 col-sm-12" class="campos-juntos-label">
                  <div class="col-sm-4">
                    <fieldset class="campos-juntos-label">
                      <label>Estoque:</label>
                      <input formControlName="estoque" type="number" min="0" step="1" class="form-control" required>
                    </fieldset>
                  </div>
                  <div class="col-sm-4">
                    <fieldset class="campos-juntos-label">
                      <label>Preço:</label>
                      <input formControlName="preco" type="number" min="0" step="0.01" class="form-control" required>
                    </fieldset>
                  </div>
                  <div class="col-sm-4">
                    <fieldset class="campos-juntos-label">
                      <label>Status:</label>
                      <input class="form-control" type="checkbox" formControlName="status">
                    </fieldset>
                  </div>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <label>Descrição:</label>
                    <textarea formControlName="descricao" class="form-control"></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="filled-button">Cadastrar
                      Produto</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6" style="border:3px solid #eee; padding: 10px;">
          <input type="file" (change)="onFileSelected($event)" #fileUpload>
          - {{fileName=="" ? "No file uploaded yet." : fileName }}
          <div>
            <img src="{{REST_API+'/image/'+fileName}}" class="right-image-cadastro">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>