<body>
    <div class="best-features about-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2> {{Produto.data.nome}}</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="right-image">
                        <img src="{{REST_API+'/image/'+Produto.data.imagem}}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="left-content">
                        <h4>R${{Produto.data.preco}}</h4>
                        <p>{{Produto.data.descricao}}</p>
                        <p>Estoque: {{Produto.data.estoque}}</p>
                        <p>Status: {{Produto.data.status}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>