<body>


  <div class="latest-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </div>
        <div class="col-md-4" *ngFor="let produto of Produtos.data; let i = index">
          <div class="product-item">
            <a href="/produto-detalhes/{{produto.id}}"><img src="{{REST_API+'/image/'+produto.imagem}}" alt=""></a>
            <div class="down-content">
              <a href="/produto-detalhes/{{produto.id}}">
                <h4>{{produto.nome}}</h4>
              </a>
              <h6>R${{produto.preco}}</h6>
              <p>{{produto.descricao}}</p>
              <fieldset>
                <button class="button-editar" routerLink="/produto-editar/{{produto.id}}">Editar</button>
                <button class="button-editar" (click)="delete(produto.id, i)">Delete</button>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>